/*Small phones 0-480px*/
@media only screen and (max-width:480) {
  section { padding: 25px; }
  .contact-form { width: 100%; }
}
/*small phones to small tablets 481-767px*/
@media only screen and (max-width:767px) {
  body { font-size: 16px; }
  section { padding: 30px; }

  .row, .hero-text-box {
    padding: 0 4%;
  }

  .col {
    width: 100%;
  }

  .main-nav { display: none; }
  .mobile-nav-icon {display: inline-block;}

  .main-nav {
    float: left;
    margin-top: 10px;
    margin-left: 25px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link, .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
  }

  .sticky .main-nav { margin-top: 10px;}

  .sticky .main-nav li a:link, .sticky .main-nav li a:visited { padding: 10px 0px; }
  .sticky .mobile-nav-icon i {color: #555;}
  .sticky .mobile-nav-icon {margin-top: 10px;}

  .sticky .logo { display: none; }
  .sticky .logo-black { display: block; }

  h1 { font-size: 180%; }

  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  .works-step{ margin-top: 20px;}
  .works-step:last-of-type { margin-bottom: 20px;}

  .work-step div {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    padding: 4px;
    font-size: 120%;
  }

  .steps-box:first-child {
    text-align: center;
  }

  .app-screen {
    width: 40px;
  }

  .col {
    margin: 0 0 1% 0
  }
}
/*small tablets to big tablets 768-1023px*/
@media only screen and (max-width:1023px) {
  body {font-size: 18px;}
  section { padding: 60px 0;}

  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .step-box {margin-top: 10px;}
  .step-box:last-child {margin-top: 10px;}
  .works-step{ margin-top: 10px;}
  .works-step:last-of-type { margin-bottom: 60px;}

  .app-screen { width: 50%;}

  .icon-small {
    width:17px;
    margin-right: 5px;
  }
  .city-feature { font-size: 90%;}

  .plan-box {
    width: 100%;
    margin-left: 0%;
  }

  .plan-price {
    font-size: 250%;
  }

  .contact-form {
    width: 80%;
  }

}
/*Big tablet to 1200px*/
@media only screen and (max-width:1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {padding: 0 2%;}
}
