<nav>
    <div class="nav-wrapper cyan darken-4">
        <a href="/" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/create_tables">Create Tables</a></li>
            {% if user.is_authenticated %}
                <li><a href="/account">{{user.username}}</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>