{% extends "main/header.html" %}
{% block content %}
    <div class="row">
        {% for tut in tutorials %}
            <div class="col s12 m6">
                <div class="card cyan darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">{{tut.tutorial_title}}</span>
                        <p style="font-size:70%">{{tut.tutorial_published}}</p>
                        <p>{{tut.tutorial_content|safe}}</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Visit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}