{% extends "main/header.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <button class="btn cyan darken-3" type="submit">Login</button>
    </form>

    If you don't already have an account, <a href="/register"><strong>register</strong></a> instead.
{% endblock %}