{% extends "main/header.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <button class="btn cyan darken-3" type="submit">Register</button>
    </form>

    If you already have an account, <a href="/login"><strong>login</strong></a> instead.
{% endblock %}